<!DOCTYPE html>
<html data-controller="theme-toggle" data-theme-toggle-target="theme" lang="pt-Br" data-bs-theme="dark">
  <head>
    <title>Aluguel Fácil</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://kit.fontawesome.com/ae360af17e.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="wrapper" data-controller="sidenav-toggle">
        <%= render 'shared/sidenav' %>
      <div class="main">     
        <%= render "shared/navbar"%>
        <main class="slot p-5">
          <%= yield %>        
        </main>
      </div>
    </div>
    <%= render 'shared/theme_toggle' %>
  </body>
</html>
