<!DOCTYPE html>
<html lang="pt-Br" data-bs-theme="dark">
  <head>
    <title>Aluguel Fácil</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://kit.fontawesome.com/ae360af17e.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="wrapper" data-controller="sidenav-toggle">
        <%= render 'shared/sidenav' %>
      <div class="main">     
        <%= render "shared/navbar"%>
        <%= yield %>        
        <%= render 'shared/footer' %>
      </div>
    </div>
  </body>

  <script>
    /* const sidebarToggle = document.querySelector("#sidebar-toggle");
      sidebarToggle.addEventListener("click",function(){
      document.querySelector("#sidebar").classList.toggle("collapsed");
    }); */

    document.querySelector(".theme-toggle").addEventListener("click",() => {
      toggleLocalStorage();
      toggleRootClass();
    });

    function toggleRootClass(){
      const current = document.documentElement.getAttribute('data-bs-theme');
      const inverted = current == 'dark' ? 'light' : 'dark';
      document.documentElement.setAttribute('data-bs-theme',inverted);
    }

    function toggleLocalStorage(){
      if(isLight()){
          localStorage.removeItem("light");
      }else{
          localStorage.setItem("light","set");
      }
    }

    function isLight(){
      return localStorage.getItem("light");
    }

    if(isLight()){
      toggleRootClass();
    }
  </script>
</html>
